body {
    background: #f5f8fa;
}

* {
    font-family: 'Raleway';
    color: #696969;
}

.imagem-tabela {
    max-height: 50px;
}

.acao {
    color: white;
    margin-top: 0px;
    height: 50px;
    width: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.acao-editar {
    background: #27236f;
}
.acao span {
    text-decoration: none;

}

.acao a:hover, span {
    color: white;
    text
}
